{% extends 'base.html.twig' %}

{% block title %}Empresa{% endblock %}

{% block body %}
    <h1>Empresa</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ empresa.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ empresa.nombre }}</td>
            </tr>
            <tr>
                <th>Nif</th>
                <td>{{ empresa.nif }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ empresa.direccion }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ empresa.telefono }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ empresa.email }}</td>
            </tr>
            <tr>
                <th>Visible</th>
                <td>{{ empresa.visible ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_empresa_index') }}">back to list</a>

    <a href="{{ path('app_empresa_edit', {'id': empresa.id}) }}">edit</a>

    {{ include('empresa/_delete_form.html.twig') }}
{% endblock %}
