{% extends 'base.html.twig' %}

{% block title %}Comunicacion index{% endblock %}

{% block body %}
    <h1>Comunicacion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Anotacion</th>
                <th>Nombre Contacto</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comunicacion in comunicacions %}
            <tr>
                <td>{{ comunicacion.id }}</td>
                <td>{{ comunicacion.anotacion }}</td>
                <td>{{ comunicacion.nombreContacto }}</td>
                <td>
                    <a href="{{ path('app_comunicacion_show', {'id': comunicacion.id}) }}">show</a>
                    <a href="{{ path('app_comunicacion_edit', {'id': comunicacion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_comunicacion_new') }}">Create new</a>
{% endblock %}
