{% extends 'base.html.twig' %}

{% block title %}Partida #{{ game.id }}{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Partida #{{ game.id }}</h1>
    
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">
                    Jugador 1: {{ game.player1.username }}
                    {% if game.status == 'finished' and game.winner == game.player1 %}
                        <span class="badge bg-success">¡Ganador!</span>
                    {% endif %}
                </div>
 ni                 <div class="card-body">
                    {% if (game.gameMode == 1 and game.player1Card1) or 
                          (game.gameMode == 2 and game.player1Card1 and game.player1Card2) or 
                          (game.gameMode == 3 and game.player1Card1 and game.player1Card2 and game.player1Card3) %}
                        {% if game.status == 'finished' or app.user == game.player1 %}
                            <div class="row">
                                <div class="col-md-{% if game.gameMode == 1 %}12{% elseif game.gameMode == 2 %}6{% else %}4{% endif %}">
                                    <h5 class="card-title">Primera carta:</h5>
                                    <img src="{{ asset('uploads/images/' ~ game.player1Card1.image) }}" class="img-fluid" alt="Carta 1">
                                    <p>{{ game.player1Card1.number }} de 
                                        {% if game.player1Card1.suit == 'hearts' %}♥️ Corazones
                                        {% elseif game.player1Card1.suit == 'diamonds' %}♦️ Diamantes
                                        {% elseif game.player1Card1.suit == 'clubs' %}♣️ Tréboles
                                        {% elseif game.player1Card1.suit == 'spades' %}♠️ Picas
                                        {% endif %}
                                    </p>
                                </div>
                                {% if game.gameMode >= 2 and game.player1Card2 %}
                                    <div class="col-md-{% if game.gameMode == 2 %}6{% else %}4{% endif %}">
                                        <h5 class="card-title">Segunda carta:</h5>
                                        <img src="{{ asset('uploads/images/' ~ game.player1Card2.image) }}" class="img-fluid" alt="Carta 2">
                                        <p>{{ game.player1Card2.number }} de 
                                            {% if game.player1Card2.suit == 'hearts' %}♥️ Corazones
                                            {% elseif game.player1Card2.suit == 'diamonds' %}♦️ Diamantes
                                            {% elseif game.player1Card2.suit == 'clubs' %}♣️ Tréboles
                                            {% elseif game.player1Card2.suit == 'spades' %}♠️ Picas
                                            {% endif %}
                                        </p>
                                    </div>
                                {% endif %}
                                {% if game.gameMode == 3 and game.player1Card3 %}
                                    <div class="col-md-4">
                                        <h5 class="card-title">Tercera carta:</h5>
                                        <img src="{{ asset('uploads/images/' ~ game.player1Card3.image) }}" class="img-fluid" alt="Carta 3">
                                        <p>{{ game.player1Card3.number }} de 
                                            {% if game.player1Card3.suit == 'hearts' %}♥️ Corazones
                                            {% elseif game.player1Card3.suit == 'diamonds' %}♦️ Diamantes
                                            {% elseif game.player1Card3.suit == 'clubs' %}♣️ Tréboles
                                            {% elseif game.player1Card3.suit == 'spades' %}♠️ Picas
                                            {% endif %}
                                        </p>
                                    </div>
                                {% endif %}
                            </div>
                        {% else %}
                            <p>Cartas seleccionadas (se revelarán al final)</p>
                        {% endif %}
                    {% else %}
                        <p>Aún no ha seleccionado cartas</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">
                    Jugador 2: {{ game.player2 ? game.player2.username : 'Esperando jugador' }}
                    {% if game.status == 'finished' and game.winner == game.player2 %}
                        <span class="badge bg-success">¡Ganador!</span>
                    {% endif %}
                </div>
                <div class="card-body">
                    {% if game.gameMode == 1 %}
                        {% if game.player2Card1 %}
                            {% if game.status == 'finished' or app.user == game.player2 %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5 class="card-title">Carta:</h5>
                                        <img src="{{ asset('uploads/images/' ~ game.player2Card1.image) }}" class="img-fluid" alt="Carta 1">
                                        <p>{{ game.player2Card1.number }} de 
                                            {% if game.player2Card1.suit == 'hearts' %}♥️ Corazones
                                            {% elseif game.player2Card1.suit == 'diamonds' %}♦️ Diamantes
                                            {% elseif game.player2Card1.suit == 'clubs' %}♣️ Tréboles
                                            {% elseif game.player2Card1.suit == 'spades' %}♠️ Picas
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            {% else %}
                                <p>Carta seleccionada (se revelará al final)</p>
                            {% endif %}
                        {% else %}
                            <p>Aún no ha seleccionado carta</p>
                        {% endif %}
                    {% elseif game.gameMode == 2 %}
                        {% if game.player2Card1 and game.player2Card2 %}
                            {% if game.status == 'finished' or app.user == game.player2 %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5 class="card-title">Primera carta:</h5>
                                        <img src="{{ asset('uploads/images/' ~ game.player2Card1.image) }}" class="img-fluid" alt="Carta 1">
                                        <p>{{ game.player2Card1.number }} de 
                                            {% if game.player2Card1.suit == 'hearts' %}♥️ Corazones
                                            {% elseif game.player2Card1.suit == 'diamonds' %}♦️ Diamantes
                                            {% elseif game.player2Card1.suit == 'clubs' %}♣️ Tréboles
                                            {% elseif game.player2Card1.suit == 'spades' %}♠️ Picas
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <h5 class="card-title">Segunda carta:</h5>
                                        <img src="{{ asset('uploads/images/' ~ game.player2Card2.image) }}" class="img-fluid" alt="Carta 2">
                                        <p>{{ game.player2Card2.number }} de 
                                            {% if game.player2Card2.suit == 'hearts' %}♥️ Corazones
                                            {% elseif game.player2Card2.suit == 'diamonds' %}♦️ Diamantes
                                            {% elseif game.player2Card2.suit == 'clubs' %}♣️ Tréboles
                                            {% elseif game.player2Card2.suit == 'spades' %}♠️ Picas
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            {% else %}
                                <p>Cartas seleccionadas (se revelarán al final)</p>
                            {% endif %}
                        {% else %}
                            <p>Aún no ha seleccionado cartas</p>
                        {% endif %}
                    {% else %}
                        {% if game.player2Card1 and game.player2Card2 and game.player2Card3 %}
                            {% if game.status == 'finished' or app.user == game.player2 %}
                                <div class="row">
                                    <div class="col-md-4">
                                        <h5 class="card-title">Primera carta:</h5>
                                        <img src="{{ asset('uploads/images/' ~ game.player2Card1.image) }}" class="img-fluid" alt="Carta 1">
                                        <p>{{ game.player2Card1.number }} de 
                                            {% if game.player2Card1.suit == 'hearts' %}♥️ Corazones
                                            {% elseif game.player2Card1.suit == 'diamonds' %}♦️ Diamantes
                                            {% elseif game.player2Card1.suit == 'clubs' %}♣️ Tréboles
                                            {% elseif game.player2Card1.suit == 'spades' %}♠️ Picas
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="card-title">Segunda carta:</h5>
                                        <img src="{{ asset('uploads/images/' ~ game.player2Card2.image) }}" class="img-fluid" alt="Carta 2">
                                        <p>{{ game.player2Card2.number }} de 
                                            {% if game.player2Card2.suit == 'hearts' %}♥️ Corazones
                                            {% elseif game.player2Card2.suit == 'diamonds' %}♦️ Diamantes
                                            {% elseif game.player2Card2.suit == 'clubs' %}♣️ Tréboles
                                            {% elseif game.player2Card2.suit == 'spades' %}♠️ Picas
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="card-title">Tercera carta:</h5>
                                        <img src="{{ asset('uploads/images/' ~ game.player2Card3.image) }}" class="img-fluid" alt="Carta 3">
                                        <p>{{ game.player2Card3.number }} de 
                                            {% if game.player2Card3.suit == 'hearts' %}♥️ Corazones
                                            {% elseif game.player2Card3.suit == 'diamonds' %}♦️ Diamantes
                                            {% elseif game.player2Card3.suit == 'clubs' %}♣️ Tréboles
                                            {% elseif game.player2Card3.suit == 'spades' %}♠️ Picas
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            {% else %}
                                <p>Cartas seleccionadas (se revelarán al final)</p>
                            {% endif %}
                        {% else %}
                            <p>Aún no ha seleccionado cartas</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Estado del Juego: 
                        {% if game.status == 'waiting' %}
                            <span class="badge bg-warning">Esperando jugador</span>
                        {% elseif game.status == 'open' %}
                            <span class="badge bg-info">En curso</span>
                        {% elseif game.status == 'finished' and game.winner %}
                            <span class="badge bg-success">Finalizada</span>
                        {% elseif game.status == 'finished' and not game.winner and (game.player1Card1 or game.player2Card1) %}
                            <span class="badge bg-secondary">Empate</span>
                        {% else %}
                            <span class="badge bg-purple" style="background-color: purple;">Cerrada</span>
                        {% endif %}
                    </h5>
                    {% if game.status == 'finished' %}
                        {% if game.winner %}
                            <p class="card-text">Ganador: {{ game.winner.username }}</p>
                        {% elseif game.player1Card1 or game.player2Card1 %}
                            <p class="card-text">¡Empate!</p>
                        {% else %}
                            <p class="card-text">Partida cerrada por el administrador</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="mt-3">
        {% if game.status != 'finished' %}
            {% if app.user == game.player1 and not game.player1Card1 %}
                <a href="{{ path('game_play', {'id': game.id}) }}" class="btn btn-primary">Seleccionar cartas</a>
            {% elseif app.user == game.player2 and not game.player2Card1 %}
                <a href="{{ path('game_play', {'id': game.id}) }}" class="btn btn-primary">Seleccionar cartas</a>
            {% elseif not game.player2 and app.user != game.player1 %}
                <form action="{{ path('game_join', {'id': game.id}) }}" method="post" style="display: inline;">
                    <button type="submit" class="btn btn-success">Unirse a la partida</button>
                </form>
            {% endif %}
        {% endif %}
        
        <a href="{{ path('game_index') }}" class="btn btn-secondary">Volver al listado</a>
    </div>
</div>

<style>
.img-fluid {
    max-height: 200px;
    width: auto;
}
</style>
{% endblock %}