{% extends 'base.html.twig' %}

{% block title %}Registro{% endblock %}

{% block body %}
    <h1>Registro</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ registro.id }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ registro.cantidad }}</td>
            </tr>
            <tr>
                <th>Fecha_entrada</th>
                <td>{{ registro.fechaEntrada ? registro.fechaEntrada|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_registro_index') }}">back to list</a>

    <a href="{{ path('app_registro_edit', {'id': registro.id}) }}">edit</a>

    {{ include('registro/_delete_form.html.twig') }}
{% endblock %}
